body {
  background-color: #0f171e;

  animation: fadein 1s;
  animation-fill-mode: both;
  /* animation-iteration-count: infinite; */
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opcaity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.navbar {
  background-color: #0f171e;
  background-image: linear-gradient(180deg, #1b2530 0, rgba(27, 37, 48, 0.85));
  background-repeat: repeat-x;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(242, 244, 246, 0.9);
}

.navbar-dark .navbar-nav .active > .nav-link {
  border-bottom: 1px solid white;
}

.nav-link {
  padding: 0;
}
.input-icon-wrapper {
  position: relative;
}

.form-control {
  padding: 0.375rem 2.4rem;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid rgba(129, 151, 164, 0.5);
}
.form-control:focus {
  background-color: rgba(15, 23, 30, 0.5);
  border: 1px solid #8197a4;
  box-shadow: none;
}
.input-icon {
  position: absolute;
  left: 0.75rem;
  top: 0.375rem;
}

.navbar .dropdown button span {
  display: inline-block;
  width: 56px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  color: rgba(242, 244, 246, 0.7);
  font-size: 15px;
  line-height: 22px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  margin: 8px;
}

.dropdown-toggle::after {
  color: rgba(242, 244, 246, 0.7);
}
.carousel-indicators li {
  height: 13px;
  width: 13px;
  border-radius: 50%;
}
.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  background-color: transparent;
  transition: background-color 1s;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: linear-gradient(90deg, transparent 0, hsla(0, 0%, 7%, 0.6));
}

.section-title h2 {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.movie-card-badge {
  position: absolute;
  left: 0;
  top: 0;
}

.infos-container h6 {
  font-size: 15px;
  font-weight: 700;
}
.infos-container h6:first-child {
  color: #8197a4;
}
.infos-container p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #f2f4f6;
  /* display: block; */
  display: -webkit-box;
  font-size: 13px;

  overflow: hidden;
  white-space: normal;
}

.movie-card {
  position: relative;
  transition: transform 0.5s;
}

.movie-card:hover {
  transform: scale(1.2);
  z-index: 2;
}

.infos-container {
  color: white;
  padding: 24px;
  position: absolute;
  overflow: hidden;
  /* background-color: red; */
  z-index: 2;
  background-image: linear-gradient(rgba(27, 37, 48, 0), #1b2530 48px);
  transform: translateY(-62px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.movie-card:hover .infos-container {
  opacity: 1;
  transform: translateY(-48px);
}

.plus-btn {
  font-size: 24px;
  transform: translateX(47px);
  transition: transform 0.7s;
  opacity: 0;
}

.movie-card:hover .plus-btn {
  transform: translateX(0px);
  opacity: 1;
}
